{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'store/dash.css' %}" type="text/css" />
  <title>Shoppers Street</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      {% if user.is_authenticated %}
        <a class="navbar-brand ml-3" href="{% url 'store-home' %}">Shoppers<span style="color: darkgoldenrod;">Street</span></a>
      {% else %}
        <a class="navbar-brand ml-3" href="{% url 'dashboard' %}">Shoppers<span style="color: darkgoldenrod;">Street</span></a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <!--to create a toggler button on the right side of the screen-->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav  mr-auto ml-4">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store-home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store-about' %}">About</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-right mr-2">
          <li class="nav-item">
            <a href="login" class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
            <a href="register" class="nav-link">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-fluid p-0">
      <div class="site-content">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <!-- <input type="button" value="Register Now" class="btn btn-site1 px-4 py-3 mr-4 btn-dark"> -->
              <a href="{% url 'register' %}" class="btn btn-site1 px-4 py-3 mr-4 btn-dark">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-1">
      <div class="container text-center">
        <h1 class="heading-1">Some Features</h1>
        <h1 class="heading-2">& Differnt (kuj b)</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odit reiciendis voluptates soluta sit sapiente iure distinctio harum eos dolo.</p>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-md-3">
          <div class="card image-fluid" width: "20" height: "5">
            <img src="{% static 'store/s.png' %}" alt="image1" class="card-image-top">
            <div class="card-body">
              <h4 class="card-title">One Stop Location For All Affiliate Marketers</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo dolores sint dicta accusantium molestiae velit quas alias impedit voluptas</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card image-fluid" width: "20" height: "5">
            <img src="{% static 'store/p.png' %}" alt="image2" class="card-image-top">
            <div class="card-body">
              <h4 class="card-title-2">Wish To Sell Your Products Faster?</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fugit explicabo corporis deserunt quaerat iste adipisci saepe ducimus corrupti hihsihij fdbibi </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card image-fluid" width: "20" height: "5">
            <img src="{% static 'store/2.jpg' %}" alt="image3" class="card-image-top">
            <div class="card-body">
              <h4 class="card-title-3">Google se uthalo haeding koi bhi</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fugit explicabo corporis deserunt quaerat iste adipisci saepe ducimus corrupti hihsihij fdbibi </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="container-fluid">
          <div class="d-flex justify-content-end">
            <div class="d-flex flex-column ">
              <h1 class="heading-1">Learn More!</h1>
              <p class="para-1" style="font-size: 20px;"><strong> ipsum, dolor sit amet consectetur adipisicing elit. Architecto sint deleniti officiis fuga ea nisi</strong> </p>
              <a class="btn btn-danger" href="{% url 'store-about' %}">Show</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section-3">
        <div class="container">
          <div class="row m-2">
            <div class="col-md-4">
              <div class="d-flex flex-row">
                <i class="fa fa-question fa-3x m-2"></i>
                <div class="d-flex flex-column">
                  <h3 class="m-2">24/7 Support</h3>
                  <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione odio, modi facilis fuga temporibus nisi dolores hic optio maiores ab eaque repellendus ad praesentium sit vero veritatis ducimus, quibusdam minima.</p>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-row">
                <i class="fa fa-arrow-right fa-3x m-2"></i>
                <div class="d-flex flex-column">
                  <h3 class="m-2">Marketing</h3>
                  <p class="m-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aperiam eum accusamus. Accusamus assumenda eius eligendi natus fuga quis, corporis in hic sunt at nesciunt optio nostrum deserunt iusto! Nobis!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-row">
                <i class="fa fa-plane fa-3x m-2"></i>
                <div class="d-flex flex-column">
                  <h3 class="m-2">Speed</h3>
                  <p class="m-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aperiam eum accusamus. Accusamus assumenda eius eligendi natus fuga quis, corporis in hic sunt at nesciunt optio nostrum deserunt iusto! Nobis!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex flex-row">
                <i class="fa fa-user fa-3x m-2"></i>
                <div class="d-flex flex-column">
                  <h3 class="m-2">Authorized</h3>
                  <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ab corrupti quam reprehenderit totam, quibusdam ea laboriosam distinctio cumque consequatur accusantium in quas provident qui repellendus ex esse
                    consequuntur incidunt.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-row">
                <i class="fa fa-search fa-3x m-2"></i>
                <div class="d-flex flex-column">
                  <h3 class="m-2">SEO</h3>
                  <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ab corrupti quam reprehenderit totam, quibusdam ea laboriosam distinctio cumque consequatur accusantium in quas provident qui repellendus ex esse
                    consequuntur incidunt.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-row">
                <i class="fa fa-bars fa-3x m-2"></i>
                <div class="d-flex flex-column">
                  <h3 class="m-2">Customerize</h3>
                  <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ab corrupti quam reprehenderit totam, quibusdam ea laboriosam distinctio cumque consequatur accusantium in quas provident qui repellendus ex esse
                    consequuntur incidunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-4 bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <img src="{% static 'store/in.jpg' %}" alt="image" width="590" height="400" style="margin-top: 60px; margin-bottom: 60px;">
            </div>
            <div class="col-md-5">
              <h1 class="text-white" style="margin-top: 20px;">Read a lot and Write a lot!</h1>
              <a href="#">Join Us</a>
              <div class="steps">
                <h3 style="color: white; text-align: center;">5 Steps</h3>
                <ol style="text-align: center;">
                  <li>Write A Blog About Your Product</li>
                  <li>Insert Your Affiliate Link</li>
                  <li>Publish Your Blog</li>
                  <li>Attract Potential Buyers</li>
                  <li>Earn Money</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
  <footer>
    <div class="section-5 text-center">
      <h4 style="margin-top: 5%;"></h4>
      <h4 class="my-4">If you need any help</h4>
      <form class="form-inline justify-content-center">
        <input type="text" name="email" size="40" id="email" placeholder="Email" class="form-control px-4 py-2">
        <input type="button" class="btn px-4 py-2" style="background-color:  rgba(184, 135, 11, 0.877);" value="Contact Us">
      </form>

      <div class="social" style="margin: 5%;">
        <div class="d-flex flex-row justify-content-center">
          <i class="fa fa-facebook-f m-2"></i>
          <i class="fa fa-twitter m-2"></i>
          <i class="fa fa-instagram m-2"></i>

        </div>
      </div>
      <hr>
      <div class="card text-center mb-3 text-white" style="background-color: rgba(184, 135, 11, 0.877) ;">
        <div class="card-body">


          <cite title="title">Shoppers Street &copy;</cite>

        </div>
      </div>
    </div>


  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
