@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu");

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    
}
.nav-link{
    font-size: 16px;
    margin: 13px;
    color: whitesmoke !important;
    font-family: 'Roboto Condensed';
}
.nav-link:hover{
    color: darkgoldenrod !important;
}
.site-content{
  background-image: url("Logo.png");
  background-attachment: fixed;
  background-size: cover;
}
.btn-site1{
  margin-left: 10%;
  background-color: rgba(184, 135, 11, 0.877);
  color: black;
  margin-top: 340%;
  margin-bottom: 40%;
}
.section-1 .heading-1{
  margin-top: 8%;
}
.section-1 .heading-2{
  margin-bottom: 5%;
  font-size: 39px;
}
.section-1 p{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
  color: rgba(0,0,0.59);
}
.image-fluid img{
     
  max-width: 120%;
  height: auto;
}
.section-1 .card-title-2{
  margin-top: 6%;
}
.section-1 .card-title-3{
  margin-top: -8%;
}
.section-2 .container-fluid{
  margin-top: 5%;
  background-image: url("ppp.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.section-2 .heading-1{
  margin-top: 20%;
  margin-bottom: 4%;
  font-family: 'Righteous';
  width: 80%;
  color: black;
}
.section-2 .para-1{
  margin-left: 16px;
  width: 80%;
  font-family: 'Ubuntu';
  margin-bottom: 7%;
  color: black;
}
.section-2 .btn{
 margin-bottom: 15%;
  width: 30%;
  padding: 2% 5%;
}
.section-3{
  margin-top: 6%;
}
.section-3 i{
  color:  rgba(184, 135, 11, 0.877);
}
.section-3 p{
  color: rgba(0,0,0,0.59);
}
.section-4 a{
  font-size: 40px;
  color:  rgba(184, 135, 11, 0.877);
  text-decoration: none;
}
.section-4 h3{
  font-size: 40px;
}
.section-4 .steps{
 margin-top: 7%;
 font-size: 23px;
 font-family: 'Roboto Condensed';
 color: white;
 margin-left: 10px;
}
.section-4 ol{
  font-size: 30px;
}
.social{
  font-size: 40px;
  color: rgba(184, 135, 11, 0.877);;
}